<div class="container my-3 py-3 px-3">
  <div class="card">
    <div class="card-body">
      <div class="text-center">
        <h1 class="card-title">Register a new Remind account</h1>
        <h6 class="card-subtitle text-muted mb-4">Please fill out the form and press "Sign up"</h6>
      </div>
      <div class="row col-12">
        <form class="col-6" [formGroup]="regForm">
          <div class="form-group">
            <label for="eInput">Your Email:</label>
            <input id="eInput" type="text" class="form-control" formControlName="emailInput" placeholder="remind@me.com"
              [ngClass]="{'is-invalid': regForm.controls.emailInput.errors && regForm.controls.emailInput.touched}">
          </div>
          <div class="form-group">
            <label for="userNameInput">Your User Name</label>
            <input id="userNameInput" type="text" class="form-control" formControlName="userNameInput"
              placeholder="Remind User"
              [ngClass]="{'is-invalid': regForm.controls.userNameInput.errors && regForm.controls.userNameInput.touched}">
          </div>
          <div class="form-group">
            <label for="birthdayInput">Your birth date:</label>
            <div class="input-group">
              <input id="birthdayInput" class="form-control" formControlName="birthdayInput" ngbDatepicker
                #dp="ngbDatepicker" [positionTarget]="calButton" [maxDate]="calendar.getToday()"
                [minDate]="{year: 1920, month: 1, day: 1}" autocomplete="off"
                [ngClass]="{'is-invalid': regForm.controls.birthdayInput.errors && regForm.controls.birthdayInput.touched}">
              <div class="input-group-append">
                <button #calButton class="btn btn-primary" (click)="dp.toggle()">
                  <fa-icon icon="calendar-alt"></fa-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="card px-3 py-3" formGroupName="passwords">
            <div class="form-group">
              <label for="pdInput">Your password:</label>
              <input id="pInput" type="password" class="form-control" formControlName="passwordInput">
            </div>
            <div class="form-group">
              <label for="pVerify">Verify password:</label>
              <input id="pVerify" type="password" class="form-control" formControlName="passwordVerify"
                [ngClass]="{'is-invalid': regForm.controls.passwords.errors && regForm.controls.passwords.controls.passwordVerify.touched}">
            </div>
          </div>
          <button class="btn btn-primary mt-3" (click)="register()" [disabled]="!regForm.valid">Sign up</button>
        </form>
        <div class="col-6 card py-3 px-3">
          {{disclaimer}}
        </div>
      </div>
    </div>
  </div>
</div>
