<div class="row justify-content-center align-items-center">
  <!-- If user not logged in -->
  <div class="" *ngIf="!currentUser" ngbDropdown>
    <button class="btn btn-secondary mx-1 shadow-none" ngbDropdownToggle>Log In</button>
    <div ngbDropdownMenu>
      <form class="px-3 py-3" [formGroup]="loginForm">
        <div class="form-group">
          <label for="emailInput">Your Email:</label>
          <input id="emailInput" class="form-control" type="text" placeholder="remind@me.com"
            formControlName="emailInput" [ngClass]="{'is-invalid': errorMessage}">
        </div>
        <div class="form-group">
          <label for="passwordInput">Your Password:</label>
          <input id="passwordInput" class="form-control" type="text" placeholder="Password"
            formControlName="passwordInput" [ngClass]="{'is-invalid': errorMessage}">
        </div>
        <small class="text-danger mb-2" *ngIf="errorMessage">{{errorMessage}}</small>
        <div class="form-group">
          <div class="form-check">
            <input id="rememberInput" class="form-check-input" type="checkbox" formControlName="rememberInput">
            <label for="rememberInput" class="form-check-label">Remember me</label>
          </div>
        </div>
        <button class="btn btn-primary shadow-none" (click)="login()" (keydown.enter)="login()"
          [disabled]="!loginForm.valid">
          Log in
        </button>
      </form>
    </div>
    <button class="btn btn-secondary mx-1 shadow-none" routerLink="/register">Sign Up</button>
  </div>

  <!-- If user logged in -->
  <div class="btn-group" *ngIf="currentUser">
    <button class="btn btn-secondary shadow-none">
      <img src="../../../assets/default_profile.png" alt="" class="rounded-circle profileImg">
    </button>
    <button class="btn btn-secondary btn-lg dropdown-toggle dropdown-toggle-split shadow-none"
      data-toggle="dropdown"></button>
    <div class="dropdown-menu">
      <button class="dropdown-item">Log out</button>
    </div>
  </div>
</div>
